.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;

}
.bg{
  background-color: rgba(17, 17, 17, 1);
}
button{
  cursor: pointer;
}
.hide{
  display: none;
}




/* banner section */

.banner {

}

a {
  text-decoration: none;
  color: aliceblue;
}

li {
  list-style-type: none;
}

.Fitness {
  color: rgba(230, 83, 60, 1);
  font-size: 2.2rem;
  font-weight: 800;
  margin-right: 670px;
  margin-left: 100px;

}

.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex {
  display: flex;
  margin-right: 100px;
}

 .home-btn {
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
  color: aliceblue;
  padding: 8px, 20px, 8px, 20px;

  


} 

.banner-title {
  color: aliceblue;
  margin-left: 200px;
  font-size: 4.5rem;
}

.shape {
  font-family: "Dancing Script";
}

.banner-description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 200px;
  margin-bottom: 30px;
}

.club-btn {
  margin-left: 200px;
  background-color: rgba(230, 83, 60, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 44px;
  margin-right: 20px;
  color: aliceblue;
  width: 220px;
  height: 55px;

}

.dwnld-btn {
  border-radius: 48px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.033);
  width: 220px;
  height: 55px;

}

.display-flex1 {
  display: flex;
  gap: 200px;
}

.fivehundred {
  color: aliceblue;
  font-size: 2.5rem;
  align-items: center;
  font-weight: 700;


}

.workout {
  color: rgba(255, 255, 255, 0.65);
  
 
}

.workout-btn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 180px;
  height: 90px;
  border-radius: 15px;
  position: absolute;
  right: -75px;
  bottom: -230px;


}
.workout-head{
  position: relative;
}

.three-hundred {
  font-size: 1.5rem;
  color: aliceblue;
}

.Tutorial {
  font-size: 1rem;
  color: aliceblue;
}

.Tutorial-btn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 170px;
  height: 80px;
  border-radius: 16px;
  position: absolute;
  left: -80px;
  top: -190px;
  z-index: 20;
  


}
.circle{
  height: 23px;
  width: 23px;
  background-color:rgba(230, 83, 60, 1);
  border-radius: 100%;
  bottom: 25px;
  position: absolute;

  
}
.Tutorial-head{
  position: relative;
}





/* Habits section */
.habits-title-clr{
  color: aliceblue;
  margin-left: 40px;
}
.habits-description-clr{
  color: rgba(255, 255, 255, 0.5);
}
.image-head{
  display: flex;
  gap: 100px;
  margin-left: 200px;
}
.radius {

  border-radius: 50%;
}
.Movement-title{
  color: aliceblue;
 margin-left: 40px;
  
}
.Movement-description{
  color: rgba(255, 255, 255, 0.5);
}

.habit-title{
  color: aliceblue;
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}
.habit-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
.radius{
  border-radius: 50%;
}
.hide{
  display: none;
}
/* challenge part */
.food-head{
  /* background-color: rgb(40,40,40); */
  background-color: darkgray;
  margin-top: 100px;
  width: 80%;
  margin-left: 150px;
  
  
}
.food-items{
  display: grid;
  grid-template-columns: repeat(3,400px);
  gap: 10px;
  margin-top: 50px;
  margin-left: 45px;
  
}
img{
  width: 70%;
  height: 60%;
}
.food-title1{
  color: aliceblue;
  text-align: center;
  
}

/* Run an extra miles section */
.Miles-head{
  width: 1050px;
 height: 310px;
  background-color: rgb(40,40,40);
  margin-left: 240px;
  border-radius: 20px;
  display: flex;
  gap: 60px;
  margin-top: 60px;
}
.Miles-title{
  color: aliceblue;
  margin-left: 40px;
  font-size: 50px;
  margin-top: 20px;
  
}
.Miles-description{
  margin-left: 40px;
  color:  rgba(255, 255, 255, 0.5);

}
.Miles-btn{
  background-color: rgba(230, 83, 60, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 44px;
  width: 130px;
  height: 40px;
  color: aliceblue;
  margin-left: 40px;
}
.run{
  width: 400px;
  height: 250px;
  border-radius: 20px;
margin-top: 33px;
margin-left: 110px;


}
.run-img{
  
}

/* BMI section */
.bmi-title{
  color: aliceblue;
  text-align: center;
  font-size: 3rem;

  
}
.bmi-description{
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  margin-left: 60px;
  margin-bottom: 50px;
}

/* table section */
table,td,th{
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 10px;
  
}
table td{
  color: rgba(255, 255, 255, 0.5);
}
table th{
  color: lightgray;
  font-weight: 500;
}
table caption{
color: aliceblue;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
  
}
table{
  margin-left: 300px;
  margin-bottom: 50px;
}
/* form section */
.Calculate-head{
  color: aliceblue;
  margin-top: 29px;
  font-size: 20px;
}
.Calculate-title{
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}
.Calculate-description{
  color: rgba(255, 255, 255, 0.5);
}
.bmi-parents{
  display: flex;
  gap: 200px;
  background-color: rgb(40,40,40);
}
.bmi-child{
  
}
.form-head{
  display: grid;
  grid-template-columns: repeat(2,200px);
  gap: 15px;
  
  

}


.height{
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 200px;
  color: red;
  border-radius: 8px;
  border: none;
}
.Weight{
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 200px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
   border: none;
}
.Age{
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 200px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.1);
  border: none;
 
}
.Sex{
  background-color: rgba(255, 255, 255, 0.1);
  height: 27px;
  width: 203px;
  border-radius: 8px;
  color:rgb(133, 132, 132);
  border: none;
}
.activity{
  /* width:213%; */
  grid-column: span 2;
  height: 27px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color:grey;
  border: none;
}


.bmi-btn{
  background-color: rgba(230, 83, 60, 1);
  padding: 10px 30px 10px 30px;
 
  border-radius: 20px;
  color: aliceblue;
  margin-top: 10px;
}
/* Meet our team section */
.team-title{
  color: aliceblue;
  text-align: center;
}
.team-description{
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 50px;
}

.trainer-img{
  display: grid;
  grid-template-columns: repeat(3,200px);
  gap: 20px;
  margin-left: 450px;
  
  
}
.trainer1{
  border-radius: 20px;
 width:200px ;
 height:200px;
}

.trainer2{
  border-radius: 20px;
 width:200px ;
 height:200px;
}
.trainer3{
  border-radius: 20px;
 width:200px ;
 height:200px;
}
.trainer4{
  border-radius: 20px;
 width:200px ;
 height:200px;
}
.trainer5{
  border-radius: 20px;
 width:200px ;
 height:200px;
}
.trainer6{
  border-radius: 20px;
 width:200px ;
 height:200px;
}

.trainer-title{
  color: aliceblue;
 
  

}
.trainer-description{
  color: aliceblue;
 
}
.trainer1-head{
 
  width: 200px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  

}
.trainer2-head{
  position: relative;
}
.trainer3-head{
  position: relative;
}
.trainer4-head{
  position: relative;
}
.trainer5-head{
  position: relative;
}
.trainer6-head{
  position: relative;
}
.trainer-text{
  position: absolute;
  bottom: 0;
}

















/* Footer section */
.footer{
  
}

.bg-clr{
  background-color: rgb(40,40,40);
}
.footer-description{
  color: rgba(255, 255, 255, 0.5);
  margin-left: 150px;
}

.Fitness2 {
  color: rgba(230, 83, 60, 1);
  font-size: 3rem;
  font-weight: 800;
  
  margin-left: 150px;

}
.display-flex3{
  display: flex;
  margin-top: 50px;
  gap: 232px;
  
}
.list-head{
display: flex;
margin-top: 40px;



}

.aliceblue{
  color: aliceblue;
  font-size: 20px;
}
.list{
margin-right: 241px;
}
.items{
  color: rgba(255, 255, 255, 0.5);
}
.hr-head{
  padding:130px;
  color: steelblue;
}

.copyright{
  color: rgba(255, 255, 255, 0.5);
  
  margin-left: 620px;
  padding-bottom: 20px;
  

}









@media screen and (max-width:576px) {
  .Fitness {
    margin: 0px;
  }
  .display-flex{
    display: none;
  }
  .Tutorial-btn{
    background-color: rgba(255, 255, 255, 0.1);
  width: 170px;
  height: 80px;
  border-radius: 16px;
  margin-left: 105px;
  }
  .workout-btn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    border-radius: 15px;
    margin-right: 85px;
  }
  /* Responsive Navbar */
  .burger-head {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 40px;

}

.burger-child {
    display: flex;
    border: 3px solid white;
    height: 0px;
    margin-bottom: 5px;
}
  


  .banner-title {
    margin: 20px;
    width: 422px;
    font-size: 40px;
  }

  .banner-description {
    margin: 30px;
    width: 320px;

  }

  .club-btn {
    margin: 30px;
    width: 150px;
    height: 53px;
  }

  .dwnld-btn {

    width: 150px;
    height: 53px;
  }

  .display-flex1 {
    flex-direction: column;
  }

  .full-width {
    width: 100%;
    margin-left: 20px;
  }
  /* habits section */
  .image-head{
    flex-direction: column;
    margin: 50px;
  }
  .habit-title{
    
    font-size: 2rem;
    
    
  }
  .habit-description{
    
    text-align: center;
   
  }
  .parents-of-habit{
    text-align: center;
  }
  /* Run an extra miles section */
  .Miles-head{
    width: 100%;
    height: 200%;
flex-direction: column;
margin-left: 0px;
margin-bottom: 50px;

  }
  .run{
   margin-left: 10px;
   
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /* BMI */
  .bmi-title{
    margin-left: 0px;
  }
  .bmi-description{
    margin-left: 0px;
  }

/* Table */
table{
  margin-left: 10px;
}
.bmi-parents{
  flex-direction: column;
}
/* Team Section */
.trainer-img{
grid-template-columns: repeat(1,400px);
/* margin-left: 110px; */
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;



}

/* footer */
.display-flex3{
  flex-direction: column;
}
.list-head{
flex-direction: column;
margin-left: 10px;
margin-top: 20px;
}
.Fitness2{
  margin-left: 10px;
}
.footer-description{
  margin-left: 10px;
  margin-bottom: 0;
}
.copyright{
  margin-left: 10px;
}
}