.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;

}
*{
  box-sizing: border-box;
}

.bg {
  background-color: rgba(17, 17, 17, 1);
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}
header{
  
}
.max-width{
  max-width: 1440px;
  margin: 0 auto;
 
  
}
.container-max-width{
  max-width: 1060px;
  margin: 0 auto;
  
}



/* banner section */

.banner {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: aliceblue;
}

li {
  list-style-type: none;
}

.Fitness {
  color: rgba(230, 83, 60, 1);
  font-size: 2.2rem;
  font-weight: 800;
  

}

.navbar-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.home-btn {
  background-color: rgba(230, 83, 60, 1);
  border-radius: 50px;
  color: aliceblue;
  padding: 8px, 20px, 8px, 20px;




}

.banner-title {
  color: aliceblue;
  
  font-size: 4.5rem;
}

.shape {
  font-family: "Dancing Script";
}

.banner-description {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  
  margin-bottom: 30px;
}

.club-btn {
 
  background-color: rgba(230, 83, 60, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 44px;
  margin-right: 20px;
  color: aliceblue;
  width: 220px;
  height: 55px;

}

.dwnld-btn {
  border-radius: 48px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.033);
  width: 220px;
  height: 55px;

}

.display-flex1 {
  display: flex;
  gap: 200px;
}

.fivehundred {
  color: aliceblue;
  font-size: 2.5rem;
  align-items: center;
  font-weight: 700;


}

.workout {
  color: rgba(255, 255, 255, 0.65);


}

.workout-btn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 180px;
  height: 90px;
  border-radius: 15px;
  position: absolute;
  right: -75px;
  top: 125px;


}

.workout-head {
  position: relative;
}

.three-hundred {
  font-size: 1.5rem;
  color: aliceblue;
}

.Tutorial {
  font-size: 1rem;
  color: aliceblue;
}

.Tutorial-btn {
  background-color: rgba(255, 255, 255, 0.1);
  width: 170px;
  height: 80px;
  border-radius: 16px;
  position: absolute;
  left: -113px;
  bottom: 63px;
 
  



}

.circle {
  height: 23px;
  width: 23px;
  background-color: rgba(230, 83, 60, 1);
  border-radius: 100%;
  bottom: 25px;
  position: absolute;


}

.Tutorial-head {
  position: relative;
}





/* Habits section */
.habits-title-clr {
  color: aliceblue;
  text-align: center;
}

.habits-description-clr {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 60px;
}

.image-head {
 display: grid;
 grid-template-columns: repeat(4,1fr);
  gap: 40px;
  
  
}

.radius {

  border-radius: 50%;
}
/* 
.Movement-title {
  color: aliceblue;
  text-align: center;
  font-size: 18px;

} */

/* .Movement-description {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
} */

.habits-title {
  color: aliceblue;
  font-size: 18px;
  text-align: center;
  margin-top: 30px;
  
}

.habits-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: center;
  
}

.radius {
  border-radius: 50%;
}

.hide {
  display: none;
}

/* challenge part */
.text-align{
  text-align: center;
}
.food-head {
  background-color: rgb(40, 40, 40);
  
  margin-top: 10px;
 
  


}

.food-items {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  margin-top: 30px;
 

}

img {
  width: 100%;
  height:60%;
 
 
}

.food-title1 {
  color: aliceblue;
  text-align: center;
  margin-top: 150px;
  font-size: 2rem;

}

.food-description1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
}

.food-title {
  color: aliceblue;
  font-size: 1.3rem;

}

.food-description {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
}

/* Run an extra miles section */
.Miles-head {
  width: 1050px;
  height: 310px;
  background-color: rgb(40, 40, 40);
  
  border-radius: 20px;
  display: flex;
  gap: 60px;
  margin-top: 60px;
}

.Miles-title {
  color: aliceblue;
  margin-left: 40px;
  font-size: 50px;
  margin-top: 20px;

}

.Miles-description {
  margin-left: 40px;
  color: rgba(255, 255, 255, 0.5);

}

.Miles-btn {
  background-color: rgba(230, 83, 60, 1);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 44px;
  width: 130px;
  height: 40px;
  color: aliceblue;
  margin-left: 40px;
}

.run {
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin-top: 33px;
  margin-left: 110px;


}

.run-img {}

/* BMI section */
.bmi-title {
  color: aliceblue;
  text-align: center;
  font-size: 3rem;


}

.bmi-description {
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  margin-left: 60px;
  margin-bottom: 50px;
}

/* table section */
table{
  margin-left: 50px;
}
table,
td,
th {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  padding: 10px;

}

table td {
  color: rgba(255, 255, 255, 0.5);
}

table th {
  color: lightgray;
  font-weight: 500;
}

table caption {
  color: aliceblue;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;

}


/* form section */
.Calculate-head {
  color: aliceblue;
  margin-top: 29px;
  font-size: 20px;
}

.Calculate-title {
  color: aliceblue;
  font-size: 20px;
  font-weight: 700;
}

.Calculate-description {
  color: rgba(255, 255, 255, 0.5);
}

.bmi-parents {
  display: flex;
  gap: 170px;
  background-color: rgb(40, 40, 40);
  
}

.bmi-child {}

.form-head {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
  box-sizing: border-box;



}


.height {
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 100%;
  color: red;
  border-radius: 8px;
  border: none;
}

.Weight {
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 100%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  border: none;
}

.Age {
  background-color: rgba(255, 255, 255, 0.1);
  height: 24px;
  width: 100%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.1);
  border: none;

}

.Sex {
  background-color: rgba(255, 255, 255, 0.1);
  height: 27px;
  width: 100%;
  border-radius: 8px;
  color: rgb(133, 132, 132);
  border: none;
}

.activity {
  /* width:213%; */
  grid-column: span 2;
  height: 27px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: grey;
  border: none;
}


.bmi-btn {
  background-color: rgba(230, 83, 60, 1);
  padding: 10px 30px 10px 30px;

  border-radius: 20px;
  color: aliceblue;
  margin-top: 10px;
}

/* Meet our team section */
.team-title {
  color: aliceblue;
  text-align: center;
}

.team-description {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-bottom: 50px;
}

.trainer-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
 
  background-color: rgba(255, 255, 255, 0.1);
  
  
 


}
.img-width{
  width: 100%;
  height: 300px;
}

.trainer1 {
  border-radius: 20px;
  
  
}

.trainer2 {
  border-radius: 20px;
 
}

.trainer3 {
  border-radius: 20px;
 
}

.trainer4 {
  border-radius: 20px;
  
}

.trainer5 {
  border-radius: 20px;
  
}

.trainer6 {
  border-radius: 20px;

}

.trainer-title {
  color: aliceblue;



}

.trainer-description {
  color: rgba(255, 255, 255, 0.65);

}
.trainer-measurement{
  margin-left: 12px;
 
}

.trainer1-head {

  
  /* border-radius: 20px; */
  position: relative;
  


}

.trainer2-head {
  position: relative;
}

.trainer3-head {
  position: relative;
}

.trainer4-head {
  position: relative;

}

.trainer5-head {
  position: relative;
  
}

.trainer6-head {
  position: relative;
}

.trainer-text {
  position: absolute;
  /* bottom: 0; */
  bottom: 15px;
  left: 20px;

}

















/* Footer section */

.bg-clr {
  background-color: rgb(40, 40, 40);
}

.footer-description {
  color:rgba(255, 255, 255, 0.5);
  opacity: 50%;
  margin-left: 50px;
}

.Fitness2 {
  color: rgba(230, 83, 60, 1);
  font-size: 3rem;
  font-weight: 800;

  margin-left: 50px;

  
}
.fitness-head{
  margin-left: 190px;
}

.display-flex3 {
  display: flex;
  margin-top: 50px;
  gap: 100px;
  

}

.list-head {
  display: flex;
  margin-top: 40px;



}

.aliceblue {
  color: aliceblue;
  font-size: 20px;
}

.list {
  margin-right: 241px;
}

.items {
  color: rgba(255, 255, 255, 0.5);
}

.hr-head {
  padding: 130px;
  color: steelblue;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);

  margin-left: 620px;
  padding-bottom: 20px;


}






/* Responsive */


@media screen and (max-width:576px) {
  .Fitness {
    margin: 0px;
  }

  .display-flex {
    display: none;
  }

  .Tutorial-btn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 170px;
    height: 80px;
    border-radius: 16px;
    margin-left: 105px;
  }

  .workout-btn {
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 90px;
    border-radius: 15px;
    margin-right: 85px;
  }

  /* Responsive Navbar */
  .burger-head {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 40px;

  }

  .burger-child {
    display: flex;
    border: 3px solid white;
    height: 0px;
    margin-bottom: 5px;
  }


  /* banner */
  .banner-title {
   
    width: 422px;
    font-size: 40px;
    padding-left: 20px;
  }

  .banner-description {
    margin-left: 20px;
    width: 320px;

  }

  .club-btn {
    margin: 30px;
    width: 150px;
    height: 53px;
  }

  .dwnld-btn {

    width: 150px;
    height: 53px;
  }

  .display-flex1 {
    flex-direction: column;
  }

  .full-width {
    width: 100%;
    
  }




  /* habits section */



  .image-head {
    grid-template-columns: repeat(1,1fr);
    
  }

  .habit-title {

    font-size: 2rem;


  }

  .habit-description {

    text-align: center;

  }

  .parents-of-habit {
    text-align: center;
  }

/* challenge Part */
.food-items{
  grid-template-columns:repeat(1,1fr) ;
  gap: 20px;
  
 
}
.food-head{
  
  width: 100%;
  
}


  /* Run an extra miles section */




  .Miles-head {
    width: 100%;
    height: 200%;
    flex-direction: column;
    margin-left: 0px;
    margin-bottom: 50px;

  }

  .run {
    margin-left: 10px;

  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 90%;
  }



  /* BMI */



  .bmi-title {
    margin-left: 0px;
  }

  .bmi-description {
    margin-left: 0px;
  }




  /* Table */



  table {
    margin-left: 10px;
  }

  .bmi-parents {
    flex-direction: column;
  }


  /* Team Section */


  .trainer-img {
    grid-template-columns: repeat(1,1fr);
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    margin: 0 auto;



  }
 


  /* footer */
  .fitness-head{
    margin-left: 10px;
  }

  .display-flex3 {
    flex-direction: column;
  }

  .list-head {
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
  }

  .Fitness2 {
    margin-left: 10px;
  }

  .footer-description {
    margin-left: 10px;
    margin-bottom: 0;
  }

  .copyright {
    margin-left: 10px;
  }
}
 